/* Overview tab specific styles */
.overview-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Εικόνα (box) */
#box {
  width: 800px;
  height: 400px;
  background-size: cover;
  border: 2px solid #ddd;
  border-radius: 12px;
  transition: 0.3s all ease-in-out;
}

#box:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transform: scale(1.01);
}